*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    max-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
}
#main-image{
    width: 35rem;
    margin: 4rem auto;
}
h2{
    text-align: center;
}
#main-image{
    width: 100%;
    padding: 1rem;
    box-shadow: 3px 3px 5px black;
}
#thumbnail-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.thumbnail{
    height: 100px;
    width: 100px;
    margin: 0 10px;
    cursor: pointer;
}