body{
padding: 0;
margin: 0;
}
header{
    background-color: black;
    color: white;
    padding: 16px 0;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    margin-right: 20px;
}
ul li a{
    text-decoration: none; /*remove underline*/
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#products{
    display: flex;
    justify-content: space-around;
}
.product{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 20px;

}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    
}
button:hover{
    background-color: blue;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}